@model MVCProject_ArefinFardu.Models.Supplier

@{
    ViewBag.Title = "Edit";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";

    //Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";


}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>



<body>
    <section class="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-info">
                        <p>@Ajax.ActionLink("Back to List", "Index", "Supplier", new AjaxOptions { })</p>
                        <form id="SaveForm">
                            <div>
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.SupplierId)
                            </div>
                            <table id="tableInfo" class="table table-bordered table-striped">
                                <tr>
                                    <td>Name</td>
                                    <td>
                                        @Html.EditorFor(model => model.Name)
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>
                                        @Html.EditorFor(model => model.Address)
                                        @Html.ValidationMessageFor(model => model.Address)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>
                                        @Html.EditorFor(model => model.Email)
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Phone No</td>
                                    <td>
                                        @Html.EditorFor(model => model.PhoneNo)
                                        @Html.ValidationMessageFor(model => model.PhoneNo)
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <input id="saveContact" type="submit" value="Update Contact" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div id="alert" class="alert alert-success" style="display:none">
                                            Updated <a href="#" class="btn btn-default" onclick="hide(this)">&times;</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function () {
            $('#saveContact').on('click', SaveContact);
        });
        var hide = function (elem) {
            $(elem).parent().hide();
        }
        function SaveContact(e) {
            e.preventDefault();
            if (!$('#SaveForm').valid()) {
                return false;
            }
            var data = $('#SaveForm').serialize();
            $.ajax({
                url: '@Url.Action("Edit", "Supplier")',
                type: 'POST',
                data: data,
                success: function (data) {
                    $('#SaveForm').trigger('reset');
                    $('#alert').show();
                }
            });
        }

    </script>
</body>
</html>

